:root {
    --primary-color: #1a1a2e;
    --secondary-color: #16213e;
    --accent-color: #0f3460;
    --text-color: #e94560;
    --light-color: #f1f1f1;
    --ship-color: #4ecca3;
    --water-color: #2c7da0;
    --hit-color: #e63946;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    font-family: "Orbitron", sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: var(--text-color);
    font-size: 3rem;
}

.board-container {
    display: flex;
    gap: 5rem;
}

.player-board-container,
.cpu-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--light-color);
    padding: 1rem;
}

.player-board-content,
.cpu-board-content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    min-width: 500px;
    min-height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid var(--accent-color);
}

.row {
    display: flex;
    flex: 1;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border: 1px solid hsla(0, 0%, 94.5%, 0.1);
    flex: 1;
    background-color: var(--secondary-color);
}
